@import url(./resetstyle.css);

body {
    background-color: rgba(104, 220, 104, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

h1 {
    color: rgba(252, 249, 249, 0.84);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

#form {
    background-color: rgba(252, 249, 249, 0.84);
    padding: 5%;
    margin: 3% 15%;
}

div {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#name, #email, #age, #option, #message {
    padding: 1%;
    margin-top: 1%;
}

#list {
    padding: 1.5%;
}

li {
    margin-top: 1%;
    font-size: 1rem;
}

#button {
    background-color: rgba(104, 220, 104, 0.815); ;
    padding: 1%;
    width: 100%;
    height: 25%;
    font-size: 1.1rem;
    margin-top: 5%;
}