@import url(./resetstyle.css);

body {
    background-color: rgba(104, 220, 104, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    align-content: center;
}

h1 {
    color: rgba(252, 249, 249, 0.84);
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    padding: 2%;
    margin-top: 2%;
}

#form {
    background-color: rgba(252, 249, 249, 0.84);
    padding: 5%;
    margin: 5% 15% 10%;
}

div {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#name, #email, #age, #option, #message {
    padding: 1%;
    margin-top: 1%;
}

#list {
    padding: 1.5%;
}

li {
    margin-top: 1%;
    font-size: 1rem;
}

#button {
    background-color: rgba(104, 220, 104, 0.815); ;
    padding: 1%;
    width: 100%;
    height: 25%;
    font-size: 1.1rem;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.5s;
}

#button:hover {
    background-color: rgba(250, 234, 145, 0.733);
}



@media (max-width: 800px) {

    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    #button {
        font-size: 0.9rem;
    }

    #list {
        padding: 2%;
    }
    
    li {
        margin-top: 2%;
        font-size: 0.8rem;
    }

    #message {
        margin-top: 3%;
    }

    #name, #email, #age, #option, #message {
      font-size: 0.7rem;
    }
}


@media (max-width: 280px) {

    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.3rem;
    }

    #form {
        padding: 5%;
        margin: 3% 15%;
    }

    #button {
        font-size: 0.8rem;
    }

    #list {
        padding: 2%;
    }
    
    li {
        margin-top: 2%;
        font-size: 0.7rem;
    }

    #message {
        margin-top: 3%;
    }

    #name, #email, #age, #option, #message {
      font-size: 0.6rem;
    }
}